body {
  margin: 0;
  background: #020202;
  cursor: crosshair;
}
canvas{display:block}
h1 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-family: "Source Sans Pro";
  font-size: 4em;
  font-weight: 900;
  /* -webkit-user-select: none; */
  user-select: none;
  width: 100%;
  
}
@media (min-width:320px) {
  /* h1 {
    font-size: 2rem;
    width: 100%;
    position: relative;
    top: 500px;
    left: 200px;
   
  } */
  
}